<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Cards</title>
  <link rel="stylesheet" href="css/todos.css"/>
</head>

<body>

  <div id="cardapp">

    <header>
      <h1>Terms (and definitions)</h1>
      <input id="new-card" type="text" placeholder="Add new term">
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as learned</label>
      <ul id="card-list"></ul>
    </section>

    <footer>
      <a id="clear-learned">Clear learned</a>
      <div id="card-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a card.
  </div>

  

  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
  <script src="js/todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= learned ? 'checked="checked"' : '' %> />
      <label><%- term %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- term %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (learned) { %>
      <a id="clear-learned">Clear <%= learned %> learned <%= learned == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="card-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
